<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7774fe">  <td>19/04/03 05:31:12</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SmokeTest.basePageNavigation()[pri:0, instance:SmokeTest@781f10f2]">basePageNavigation</td> 
  <td>main@1810518740</td>   <td></td> </tr>
<tr bgcolor="7774fe">  <td>19/04/03 05:31:05</td>   <td>-6452</td> <td>&nbsp;</td><td title="&gt;&gt;SmokeTest.initialize()[pri:0, instance:SmokeTest@781f10f2]">&gt;&gt;initialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1810518740</td>   <td></td> </tr>
<tr bgcolor="7774fe">  <td>19/04/03 05:31:45</td>   <td>33208</td> <td>&nbsp;</td><td title="&lt;&lt;SmokeTest.teardown()[pri:0, instance:SmokeTest@781f10f2]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1810518740</td>   <td></td> </tr>
</table>
